.box{
    display: flex;
    flex-direction: column;
    background: var(--bgColor1);
    width: 400px;
    height: 450px;
    border-radius: 30px;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.span {
    font-size: 1rem;
    font-weight: 600;
}

