:root {
    --fontColor: rgb(240, 227, 132);
    --fontColor1:rgba(77, 33, 119, 0.99);
    --bgColor1:rgba(146, 45, 240, 0.62);
    --bgColor2:  rgb(240, 227, 132);

}

body {
    background: var(--bgColor2);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px){
    .container{
        justify-content: start;
        padding: 15px;
    }
}

.span{
    font-size:1rem;
    font-weight:600;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight: 900;
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 10px;
    outline-color: rgb(240, 227, 132);
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid bold;
}

button{
    border: none;
    background:var(--fontColor1);
    color:var(--fontColor);
    padding:20px;
    border-radius:30px;
    text-transform:uppercase;
    margin-top:20px;
}
button:hover{
    background: rgb(240, 227, 132);
    color:var(--bgColor1);
    font-weight:900;
}

@media (max-width: 500px){
    .box{
        width:100%;
    }
    button{
        margin-top:0;
    }
}